.container {
  background-color: white;
  color: black;
}

.main {
  min-height: 85.2vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav a {
  padding: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.nav a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.table {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.AddFormDiv{
  padding-bottom: 10px;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}